.date-news__item{
    background-color: #fff;
    border-radius: 25px;
    padding: 15px 0;
    & > a {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #000000;
    }
}

.date-news__list{
    display: block;
}