@import "vars";
body {
    background-color: $main_color;
    position: absolute;
    width: 1400px;
    height: 4415px;

}
//NAVBAR STYLES

.navbar {
    position: fixed;
    background-color: $second_color;
    width: 1400px;
    height: 59px;
}
