@import "reset";
@import "vars";
@import "fonts";
@import "last-news";
@import "global";
@import "date-news";
@import "navbar";
@import "footer";
@import "specific-news";


body {
    background-color: $main_color;
}




body {
    background-color: $main_color;


}

.container {
    width: 1400px;
    margin: 0 auto;
}





