<header>

    <div class="navbar">

     <ul class="header_ul">
          <img src="../assets/images/img/main_icon.png" class="main_icon "alt="">
          <li class="header_link"><a class="header_link" href="">Новости</a></li>
          <li class="header_link"><a class="header_link" href="">Поиск</a></li>
          <li><a href="Schools"> Школы</a></li>
          <li><a href="Child">Детский Сад</a></li>
          <li><a href="edu.gov.kg">Сайт министерства образования</a></li>
          <li ><img src="../assets/images/img/lang.png" alt=""></li>
      </ul>

    </div>
</header>
