<header>

    <div class="navbar">
     <img src="../assets/images/img/lang.png" alt="">
      <ul>
          <li class="News"><a href="">Новости</a></li>
          <li class="Search"><a href="">Поиск</a></li>
          <li><a href="Schools"> Школы</a></li>
          <li><a href="Child">Детский Сад</a></li>
          <li><a href="edu.gov.kg">Сайт министерства образования</a></li>
          <li><img src="../assets/images/img/lang.png" alt=""></li>
      </ul>
      <div class="language"> </div>
    </div>
</header>
