<div class="container">
    <div class="line"></div>
    <div class="last-news">
        <h2 class="last-news__title">
            Наиболее просматриваемые новости школ
        </h2>
        <div class="last-news__main">
            <div class="last-news__main--div">
                <img src="" class="last-news__main--img" alt="">
            </div>
            <div class="last-news__main--text">
                <h3>Lorem ipsum water text</h3>
                <p>In mauris et id accumsan ornare efficitur nulla ut. asdfasdfas</p>
                <span>Просмотрено: 227</span>
            </div>
        </div>
        <div class="last-news__submain">
            <div class="last-news__items">
                <div class="last-news__item">
                    <div class="last-news__item--img">
                        
                    </div>
                    <div class="last-news__item--text">
                        In mauris et id accumsan ornare efficitur nulla ut.
                    </div>
                    <div class="last-news__item--view">
                        Просмотрено :223
                    </div>
                </div>
                <div class="last-news__item">
                    <div class="last-news__item--img">
                        
                    </div>
                    <div class="last-news__item--text">
                        In mauris et id accumsan ornare efficitur nulla ut.
                    </div>
                    <div class="last-news__item--view">
                        Просмотрено :223
                    </div>
                </div>
                <div class="last-news__item">
                    <div class="last-news__item--img">
                        
                    </div>
                    <div class="last-news__item--text">
                        In mauris et id accumsan ornare efficitur nulla ut.
                    </div>
                    <div class="last-news__item--view">
                        Просмотрено :223
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
