<div class="container">
    <div class="profile-school">
        <div class="profile-school__left">

            <div class="profile-school__left--text">
               <h2>Lorem ipsum water text</h2>
                <div class="date_publication"> Дата Публикации: [28.02.2022 12:44] </div>
                <div class="viewed"> Просмотрено : [228] </div>
                <div class="profile-school__left--div"> <img src="" class="profile-school__left--img" alt=""> </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias adipisci, fugit accusamus eaque excepturi ducimus laborum quod labore, voluptas sapiente facere iste. Sapiente animi, totam obcaecati! Sequi delectus sint fugiat!</p>
            </div>

        </div>




        <div class="profile-school__right">
            <div class="bread_div">
                <ul class="breadcrumb">
                    <li><a href="#">Область</a></li>
                    <li><a href="#">Район</a></li>
                    <li><a href="#">Школы</a></li>
                    <li><a href="#">Школа-гимназия № 37</a></li>
                </ul>
            </div>
            <div class="profile-school__right--text">
               <h2 class="title">Lorem ipsum water text</h2>

                <div class="profile-school__right--div"> <img src="" class="profile-school__right--img" alt=""> </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias adipisci, fugit accusamus eaque excepturi ducimus laborum quod labore, voluptas sapiente facere iste. Sapiente animi, totam obcaecati! Sequi delectus sint fugiat!</p>
            </div>

        </div>
    </div>
</div>
