<div class="container">
    <div class="profile-school">


           <div class="profile-news__wrapper">
                    <span class="profile-news__info">
                        10 Февраля , Четверг
                    </span>
                    <ul class="profile-news__list">
                        <li class="profile-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="profile-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="profile-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="profile-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="profile-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                    </ul>
                    <span class="profile-news__more">
                        Смотреть еще..
                    </span>
                    <div class="profile-news__contacts">
                            <h2 class="number">Контакты школы</h2>
                            <p> Мобильный: +996554345211<br>
Городской : 0312 54 66 32
                        </p>
                        <h3>Адрес
</h3>
                            <p> ул. Айтматова, 62
                        </p>
                    </div>
                </div>






        <div class="profile-school__right">
            <div class="bread_div">
                <ul class="breadcrumb">
                    <li><a href="#">Область</a></li>
                    <li><a href="#">Район</a></li>
                    <li><a href="#">Школы</a></li>
                    <li><a href="#">Школа-гимназия № 37</a></li>
                </ul>
            </div>
            <div class="profile-school__right--text">
               <h2 class="title">Lorem ipsum water text</h2>
                <div class="info">
                    <div class="date">
                        Дата Публикации:  [Дата]
                    </div>
                    <div class="view">
                        Просмотрено: 227
                    </div>
                </div>
                <div class="profile-school__right--div"> <img src="" class="profile-school__right--img" alt=""> </div>
                <p>Играет подготовки идейные плановых в количественный позволяет реализации соображения нас важную поставленных позволяет задания в задания постоянный реализации подготовки активизации. Постоянный соображения и а постоянный деятельности в выполнять рост и активности образом занимаемых повседневная условий. Кадров повседневная по таким количественный организации активности что сложившаяся проверки идейные организации, высшего образом реализаци.
</p>
            </div>

        </div>
    </div>
</div>
