<div class="container">
    <div class="line"></div>
    <div class="last-news">
        <h2 class="last-news__title">
            Все новости
        </h2>
        <div class="news-wrapper">
            <div class="date-news">
                <div class="date-news__wrapper">
                    <span class="date-news__day">
                        10 Февраля , Четверг
                    </span>
                    <ul class="date-news__list">
                        <li class="date-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="date-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                        <li class="date-news__item"><a href="#"> <span>10:01</span> Нездоровая практика. Депутат возмущена, что блогеров задерживают как членов ОПГ </a></li>
                    </ul>
                </div>
            </div>
            <div class="box-news">
    
            </div>
        </div>
        
    </div>
</div>